@font-face {
  font-family: HarmonyOS Sans;
  src: url('./HarmonyOS_Sans_SC_Thin.woff2') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: HarmonyOS Sans;
  src: url('./HarmonyOS_Sans_SC_Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: HarmonyOS Sans;
  src: url('./HarmonyOS_Sans_SC_Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: HarmonyOS Sans;
  src: url('./HarmonyOS_Sans_SC_Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: HarmonyOS Sans;
  src: url('./HarmonyOS_Sans_SC_Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: HarmonyOS Sans;
  src: url('./HarmonyOS_Sans_SC_Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}
