.acg-slide-left-enter-active,
.acg-slide-left-leave-active {
  transition: transform 0.2s ease-in;
}

.acg-slide-left-enter-from,
.acg-slide-left-leave-to {
  transform: translate(-100%);
}

.acg-slide-right-enter-active,
.acg-slide-right-leave-active {
  transition: transform 0.2s ease;
}

.acg-slide-right-enter-from,
.acg-slide-right-leave-to {
  transform: translate(100%);
}
