// 骨架屏
.is-skeleton {
  .skeleton-bg {
    background-color: var(--skeleton-bg-color);
  }

  // 骨架屏(动画)
  &[data-skeleton-animate] {
    .skeleton-bg {
      background: linear-gradient(
        90deg,
        var(--skeleton-bg-color) 25%,
        var(--skeleton-bg-color-to) 37%,
        var(--skeleton-bg-color) 63%
      );
      background-size: 400% 100%;
      animation: skeleton-loading 1.25s ease infinite;
    }
  }
}

.filter-gray {
  filter: grayscale(100%);
}

.text-stroke {
  text-shadow: 1px 0 1px #000000, 0 1px 1px #000000, 0 -1px 1px #000000,
    -1px 0 1px #000000;
}

.multi-text-truncate {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;

  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  @for $i from 2 through 5 {
    &[data-line='#{$i}'] {
      -webkit-line-clamp: $i;
    }
  }
}
