:root {
  --app-header-height: 60px;
  --app-header-mini-height: 40px;
  --app-sub-navigation-height: 54px;

  --side-bar-avatar-size: 50px;
  --scroll-bar-width: 8px;

  --page-width: 1480px;
}

@media (min-width: 1750px) {
  :root {
    --page-width: 1720px;
  }
}

@media (max-width: 1599.9px) {
  :root {
    font-size: 78px;
    --page-width: 1160px;
  }
}

@media (max-width: 1199.9px) {
  :root {
    --page-width: 100%;
  }
}

@media (max-width: 991.9px) {
  :root {
  }
}

@media (max-width: 767.9px) {
  :root {
  }
}

.app-no-drag {
  -webkit-app-region: no-drag;
}

.app-drag {
  -webkit-app-region: drag;
}

.app-container {
  height: 100%;
  user-select: none;
  overflow: hidden;
}

.acg-body-fill {
  width: 100%;
  height: 100%;
}

.page-container {
  width: var(--page-width);
  margin: auto;
}

.flex-column {
  flex-direction: column;
}

.layout-lr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-center-p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layout-center-px {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.layout-center-py {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.sticky-b {
  position: sticky;
  bottom: 0;
  z-index: 100;
}

.sticky-t {
  position: sticky;
  top: 0;
  z-index: 100;
}

.bg-app {
  background-color: var(--app-color-bg);
}

.full-modal {
  .arco-modal-body {
    padding: 0;
  }
}

.page-pagination {
  padding: 8px 10px;

  .arco-pagination {
    justify-content: flex-end;
  }
}

[v-cloak] {
  display: none;
}
