* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: PingFang SC, HarmonyOS Sans, Helvetica Neue, Microsoft YaHei,
    sans-serif !important;
}

.app-font-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: var(--scroll-bar-width);
  height: var(--scroll-bar-width);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-bg);
}
