:root {
  --skin-cyan: #00bcd4;
  --skin-cyan-light: #f2fcfd;
  --skin-rgb-cyan: 0, 189, 214;
  --skin-blue: #2196f3;
  --skin-blue-light: #f4fafe;
  --skin-rgb-blue: 33, 150, 243;
  --skin-dark: #1b1b1b;
  --skin-dark-light: #f4f4f4;
  --skin-rgb-dark: 27, 27, 27;
  --skin-red: #f44336;
  --skin-red-light: #fef6f5;
  --skin-rgb-red: 244, 67, 54;
  --skin-orange: #eb9a18;
  --skin-orange-light: #fefaf3;
  --skin-rgb-orange: 235, 154, 24;
  --skin-pink: #fb7299;
  --skin-pink-light: #fff8fa;
  --skin-rgb-pink: 251, 114, 153;
  --skin-green: #4caf50;
  --skin-green-light: #f6fbf6;
  --skin-rgb-green: 76, 175, 80;
  --skin-teal: #009688;
  --skin-teal-light: #f2faf9;
  --skin-rgb-teal: 0, 150, 136;
  --skin-brown: #795548;
  --skin-brown-light: #f8f7f6;
  --skin-rgb-brown: 121, 85, 72;
  --skin-purple: #673ab7;
  --skin-purple-light: #f7f5fb;
  --skin-rgb-purple: 103, 58, 183;
  --skin-indigo: #3f51b5;
  --skin-indigo-light: #f5f6fb;
  --skin-rgb-indigo: 63, 81, 181;
  --skin-blue-grey: #607d8b;
  --skin-blue-grey-light: #f7f9f9;
  --skin-rgb-blue-grey: 96, 125, 139;
  --white-rgb: 255, 255, 255;
  --black-rgb: 0, 0, 0;
}

body {
  --color-text-0: #000000;

  --app-theme: var(--skin-blue);
  --app-theme-rgb: var(--skin-rgb-blue);
  --app-color-common: var(--app-theme);
  --app-color-common-rgb: var(--app-theme-rgb);

  --app-header-bg: var(--app-theme);
  --app-header-center-bg: rgba(233, 233, 233, 0.2);

  --app-color-bg: var(--skin-blue-light);
  // --app-color-bg: #fafafa;
  --app-color-text: var(--color-text-1);
  --app-header-color-text: #ffffff;

  --skeleton-bg-color: #e9e7e7;
  --skeleton-bg-color-to: #e0e0e0;
  --bangumi-gallery-active-color: var(--app-theme);

  --scrollbar-thumb-bg: #cccccc;
  --scrollbar-thumb-hover-bg: #b2b2b2;

  --comic-navigation-bg: #ffffff;
  --comic-navigation-search-color: var(--app-theme);
}

body[arco-theme='dark'] {
  --color-text-0: #ffffff;

  --app-theme: var(--skin-dark);
  --app-theme-rgb: var(--skin-rgb-dark);
  --app-color-common: #e4a329;
  --app-color-common-rgb: 228, 163, 41;

  --app-header-center-bg: rgba(255, 255, 255, 0.05);

  --app-color-bg: var(--color-bg-3);

  --skeleton-bg-color: #4b4b4b;
  --skeleton-bg-color-to: #5d5d5d;

  --scrollbar-bg: #000000;
  --scrollbar-thumb-bg: #666666;
  --scrollbar-thumb-hover-bg: #999999;

  --comic-navigation-bg: #3f3f40;
}

body[arco-theme='cyan'] {
  --app-theme: var(--skin-cyan);
  --app-theme-rgb: var(--skin-rgb-cyan);
  --app-color-bg: var(--skin-cyan-light);
}

body[arco-theme='teal'] {
  --app-theme: var(--skin-teal);
  --app-theme-rgb: var(--skin-rgb-teal);
  --app-color-bg: var(--skin-teal-light);
}

body[arco-theme='red'] {
  --app-theme: var(--skin-red);
  --app-theme-rgb: var(--skin-rgb-red);
  --app-color-bg: var(--skin-red-light);
}

body[arco-theme='orange'] {
  --app-theme: var(--skin-orange);
  --app-theme-rgb: var(--skin-rgb-orange);
  --app-color-bg: var(--skin-orange-light);
}

body[arco-theme='pink'] {
  --app-theme: var(--skin-pink);
  --app-theme-rgb: var(--skin-rgb-pink);
  --app-color-bg: var(--skin-pink-light);
}

body[arco-theme='green'] {
  --app-theme: var(--skin-green);
  --app-theme-rgb: var(--skin-rgb-green);
  --app-color-bg: var(--skin-green-light);
}

body[arco-theme='brown'] {
  --app-theme: var(--skin-brown);
  --app-theme-rgb: var(--skin-rgb-brown);
  --app-color-bg: var(--skin-brown-light);
}

body[arco-theme='purple'] {
  --app-theme: var(--skin-purple);
  --app-theme-rgb: var(--skin-rgb-purple);
  --app-color-bg: var(--skin-purple-light);
}

body[arco-theme='indigo'] {
  --app-theme: var(--skin-indigo);
  --app-theme-rgb: var(--skin-rgb-indigo);
  --app-color-bg: var(--skin-indigo-light);
}

body[arco-theme='blue-grey'] {
  --app-theme: var(--skin-blue-grey);
  --app-theme-rgb: var(--skin-rgb-blue-grey);
  --app-color-bg: var(--skin-blue-grey-light);
}
