.arco-page-header {
  .arco-page-header-wrapper {
    padding: 0;
  }
}

body[arco-theme='dark'] {
  --acg-fixed-button-color: #ffffff;
  --acg-fixed-button-border: none;
  --acg-fixed-button-bg-color: var(--skin-dark);
}
