:root {
  --skin-blue: #2196f3;
  --skin-dark: #1b1b1b;
  --skin-red: #f44336;
  --skin-pink: #fb7299;
  --skin-green: #4caf50;

  --app-header-bg: var(--skin-blue);
  --app-header-center-bg: rgba(233, 233, 233, 0.2);

  --bg-color: #f5f5f5;
  --border-color: #cccccc;

  --text-color: #333333;
  --header-text-color: #ffffff;

  --scrollbar-thumb-bg: #cccccc;
  --scrollbar-thumb-hover-bg: #b2b2b2;
}

:root[data-theme='dark'] {
  --app-header-bg: var(--skin-dark);
  --app-header-center-bg: rgba(255, 255, 255, 0.05);

  --bg-color: #333333;
  --border-color: #555555;

  --text-color: #cccccc;

  --scrollbar-bg: #000000;
  --scrollbar-thumb-bg: #666666;
  --scrollbar-thumb-hover-bg: #999999;
}

:root[data-theme='red'] {
  --app-header-bg: var(--skin-red);
}

:root[data-theme='pink'] {
  --app-header-bg: var(--skin-pink);
}

:root[data-theme='green'] {
  --app-header-bg: var(--skin-green);
}
